---
import BasicLayout from '../layouts/BasicLayout.astro';
---

<BasicLayout title="Home">
	<h1 class="bg-primary/40 text-2xl">Hello MMI 🚀</h1>
    <p>Créative Coding.</p>
</BasicLayout>



<!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <title>Home</title>
  </head>
  <body>
	<Header/>
    <h1>Hello MMI 🚀</h1>
    <p>Créative Coding.</p>
  </body>
</html> -->



<!-- <style>
	body {
		font-family: sans-serif;
		background-color: blanchedalmond;
	}
</style>

<script>
	alert('Hello MMI 🚀');
</script> -->